[edit]
    command = "nvim"

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}" ]

[diff]
    exclude = ["scripts"]

[git]
    autoCommit = true
    autoPush = true
    commitMessageTemplate = "{{ "{{" }} promptString \"Commit message\" {{ "}}" }}"
